@import "./theme.css";

h1,
h2,
li {
  color: var(--secondary);
}

.block {
  position: relative;
  border: 2px var(--primary) solid;
  -webkit-box-shadow: 4px 4px 36px 3px rgba(216, 112, 147, 0.2);
  -moz-box-shadow: 4px 4px 36px 3px rgba(216, 112, 147, 0.2);
  box-shadow: 4px 4px 36px 3px rgba(216, 112, 147, 0.2);
  overflow: hidden;

}

.block.show {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s linear;
}

.block.myhidden {
  opacity: 0;
  transform: translateX(-100%);
}

.footer {
  border-top: 1px var(--primary) solid;
  -webkit-box-shadow: 0px -8px 18px -10px rgba(216, 111, 146, 0.2);
  -moz-box-shadow: 0px -8px 18px -10px rgba(216, 111, 146, 0.2);
  box-shadow: 0px -8px 18px -10px rgba(216, 111, 146, 0.2);

}